
body {
    font-family:Arial, Helvetica, sans-serif
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    margin: auto auto;
    padding: 50px;
}

.box {
    border-bottom: 2px solid #44403c;
    border-right: 2px solid #44403c;
    background-color:#2dd4bf;
    font-size: 64px;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
}